Package: com.castyte.installprotect12
Name: InstallProtect12
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Require biometric to manage packages in Cydia and Zebra
Maintainer: Castyte
Author: Castyte
Section: Tweaks
