Package: com.castyte.installprotect12
Name: InstallProtect12
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Require biometric to manage packages in Cydia and Zebra
Maintainer: Castyte
Author: Castyte
Section: Tweaks
Version: 1.2.1
Installed-Size: 136
